@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
} /* ; */

/* 
  #F6AC4D	oklch(0.79 0.18 70)	深黃
  #FCCE50	oklch(0.8699 0.1529 90.12)	黃
  #50C6EA	oklch(0.7742 0.1159 221.59)	天藍
  #4F83CE	oklch(0.6083 0.1276 257.6)	深藍
  #4FBE18	oklch(0.6926 0.2044 137.12)	綠
  #076639	oklch(0.451 0.1161 152.02)	深綠 
  oklch(0.95 0 0) 白
  oklch(0.1 0 0) 黑
*/

@plugin "daisyui/theme" {
  name: 'light';

  --color-primary: oklch(0.6083 0.1276 257.6);
  --color-primary-content: oklch(0.95 0 0);
  --color-secondary: oklch(0.7742 0.1159 221.59);
  --color-secondary-content: oklch(0.1 0 0);
  --color-accent: oklch(0.8699 0.1529 90.12);
  --color-accent-content: oklch(0.1 0 0);
  --color-success: oklch(0.6926 0.2044 137.12);
  --color-success-content: oklch(0.1 0 0);
  --color-warning: oklch(0.79 0.18 70);
  --color-warning-content: oklch(0.1 0 0);
} /* ; */
@plugin "daisyui/theme" {
  name: 'dark';

  --color-primary: oklch(0.6083 0.1276 257.6);
  --color-primary-content: oklch(0.95 0 0);
  --color-secondary: oklch(0.7742 0.1159 221.59);
  --color-secondary-content: oklch(0.1 0 0);
  --color-accent: oklch(0.8699 0.1529 90.12);
  --color-accent-content: oklch(0.1 0 0);
  --color-success: oklch(0.6926 0.2044 137.12);
  --color-success-content: oklch(0.1 0 0);
  --color-warning: oklch(0.79 0.18 70);
  --color-warning-content: oklch(0.1 0 0);
} /* ; */
@plugin '@egoist/tailwindcss-icons' {
  scale: 1.5;
} /* ; */

@utility container {
  @apply mx-auto px-4;

  @variant max-lg {
    @apply max-w-full;
  }
}

html {
  @apply m-0 min-h-screen w-screen overflow-x-hidden p-0;
}

.driver-popover.driverjs-theme {
  @apply bg-base-100 text-base-content;
}
.driver-popover.driverjs-theme .driver-popover-progress-text {
  @apply text-base-content/40;
}
.driver-popover.driverjs-theme .driver-popover-close-btn {
  @apply btn btn-square btn-ghost btn-sm;
}
.driver-popover.driverjs-theme .driver-popover-prev-btn {
  @apply btn btn-sm btn-neutral;
}
.driver-popover.driverjs-theme .driver-popover-next-btn {
  @apply btn btn-sm btn-accent;
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-left.driver-popover-arrow {
  @apply border-l-base-100;
}
.driver-popover.driverjs-theme
  .driver-popover-arrow-side-right.driver-popover-arrow {
  @apply border-r-base-100;
}
.driver-popover.driverjs-theme
  .driver-popover-arrow-side-top.driver-popover-arrow {
  @apply border-t-base-100;
}
.driver-popover.driverjs-theme
  .driver-popover-arrow-side-bottom.driver-popover-arrow {
  @apply border-b-base-100;
}
